################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiniCommerce/CopilotIndices/18.9.1329.3188/SemanticSymbols.db-shm
/.vs/MiniCommerce/CopilotIndices/18.9.1329.3188/SemanticSymbols.db-wal
/.vs/MiniCommerce.slnx/FileContentIndex/7acb4f7f-7a5c-4c2d-9412-75b5692f430f.vsidx
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.AssemblyInfo.cs
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.AssemblyInfoInputs.cache
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.AssemblyInfo.cs
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.AssemblyInfo.cs
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.AssemblyInfoInputs.cache
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.assets.cache
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.csproj.AssemblyReference.cache
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/rpswa.dswa.cache.json
/src/Services/ProductService/ProductService.Api/obj/ProductService.Api.csproj.nuget.dgspec.json
/src/Services/ProductService/ProductService.Api/obj/project.assets.json
/src/Services/ProductService/ProductService.Api/obj/project.nuget.cache
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.AssemblyInfo.cs
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.AssemblyInfoInputs.cache
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.assets.cache
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.csproj.AssemblyReference.cache
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Services/ProductService/ProductService.Application/obj/ProductService.Application.csproj.nuget.dgspec.json
/src/Services/ProductService/ProductService.Application/obj/project.assets.json
/src/Services/ProductService/ProductService.Application/obj/project.nuget.cache
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.AssemblyInfo.cs
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.AssemblyInfoInputs.cache
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.assets.cache
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Services/ProductService/ProductService.Domain/obj/ProductService.Domain.csproj.nuget.dgspec.json
/src/Services/ProductService/ProductService.Domain/obj/project.assets.json
/src/Services/ProductService/ProductService.Domain/obj/project.nuget.cache
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.AssemblyInfo.cs
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.AssemblyInfoInputs.cache
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.assets.cache
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.csproj.AssemblyReference.cache
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Services/ProductService/ProductService.Infrastructure/obj/ProductService.Infrastructure.csproj.nuget.dgspec.json
/src/Services/ProductService/ProductService.Infrastructure/obj/project.assets.json
/src/Services/ProductService/ProductService.Infrastructure/obj/project.nuget.cache
/.vs/MiniCommerce.slnx/v18/.suo
/.vs/MiniCommerce.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/MiniCommerce.slnx/FileContentIndex/2437e8df-610f-49f1-8b15-ddb8de13b370.vsidx
/.vs/MiniCommerce.slnx/v18/DocumentLayout.backup.json
/.vs/MiniCommerce.slnx/v18/DocumentLayout.json
*.vsidx
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Api.dll
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Api.exe
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Api.pdb
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Application.dll
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Application.pdb
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Domain.pdb
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Infrastructure.dll
/src/Services/ProductService/ProductService.Api/bin/Debug/net8.0/ProductService.Infrastructure.pdb
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ref/ProductService.Api.dll
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/refint/ProductService.Api.dll
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/apphost.exe
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.csproj.CoreCompileInputs.cache
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.csproj.FileListAbsolute.txt
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.dll
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.genruntimeconfig.cache
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.MvcApplicationPartsAssemblyInfo.cs
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/ProductService.Api.pdb
*.json
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/src/Services/ProductService/ProductService.Api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
*.txt
/src/Services/ProductService/ProductService.Application/bin/Debug/net8.0/ProductService.Application.dll
/src/Services/ProductService/ProductService.Application/bin/Debug/net8.0/ProductService.Application.pdb
/src/Services/ProductService/ProductService.Application/bin/Debug/net8.0/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Application/bin/Debug/net8.0/ProductService.Domain.pdb
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ref/ProductService.Application.dll
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/refint/ProductService.Application.dll
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.csproj.CoreCompileInputs.cache
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.csproj.FileListAbsolute.txt
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.dll
/src/Services/ProductService/ProductService.Application/obj/Debug/net8.0/ProductService.Application.pdb
/src/Services/ProductService/ProductService.Domain/bin/Debug/net8.0/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Domain/bin/Debug/net8.0/ProductService.Domain.pdb
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ref/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/refint/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.csproj.FileListAbsolute.txt
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Domain/obj/Debug/net8.0/ProductService.Domain.pdb
/src/Services/ProductService/ProductService.Infrastructure/bin/Debug/net8.0/ProductService.Application.dll
/src/Services/ProductService/ProductService.Infrastructure/bin/Debug/net8.0/ProductService.Application.pdb
/src/Services/ProductService/ProductService.Infrastructure/bin/Debug/net8.0/ProductService.Domain.dll
/src/Services/ProductService/ProductService.Infrastructure/bin/Debug/net8.0/ProductService.Domain.pdb
/src/Services/ProductService/ProductService.Infrastructure/bin/Debug/net8.0/ProductService.Infrastructure.dll
/src/Services/ProductService/ProductService.Infrastructure/bin/Debug/net8.0/ProductService.Infrastructure.pdb
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ref/ProductService.Infrastructure.dll
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/refint/ProductService.Infrastructure.dll
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.csproj.CoreCompileInputs.cache
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.csproj.FileListAbsolute.txt
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.dll
/src/Services/ProductService/ProductService.Infrastructure/obj/Debug/net8.0/ProductService.Infrastructure.pdb
